<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favico-->
    <link rel="icon" type="image/x-icon" href="./../favico.ico">
    <!--ligtbox-->
    <link href="./../css/lightbox.css" rel="stylesheet" />
    <!--css-->
    <link rel="stylesheet" href="./../css/style.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Chialva Nicolas</title>
</head>
<body>
    <header>
     
           <div class="link-navBar">
                <nav>
                     <div>
                        <img src="./../assets/galeria/Preview(1).png" alt="logo" class="logo" width="200" height="200">
                    </div>
                    <ul>
                        <li><a href="./../index.html">Inicio</a></li>
                        <li class="menu-item active"><a href="#">Galeria</a></li>
                        <li><a href="./contactanos.html">Contactanos</a></li>
                        <li><a href="./presupuesto.html">Presupuesto</a></li>
                    </ul>
                </nav>
            </div>

    </header>
    <main>
          <div class="boxInfo-galeria">
            <h1>Galeria de fotos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, reprehenderit labore laboriosam aliquam aliquid iste officiis illum, omnis provident ex perferendis amet necessitatibus nobis ducimus consectetur. Voluptatibus velit facilis doloremque.</p>
        </div>


        <div class="galeria">
           <div class="celda-1"><a href="./../assets/ligthbox/img1.jpg" data-lightbox="imagen" data-title="My caption" ><img src="./../assets/ligthbox/img1.jpg" alt="carrera" width="640" height="427"></a></div>
            <div class="celda-2"><a href="./../assets/ligthbox/img2.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img2.jpg" alt="carrera ny" width="640" height="920"></a></div>
            <div class="celda-3"><a href="./../assets/ligthbox/img3.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img3.jpg" alt="carrera canada" width="640" height="959"></a></div>
            <div class="celda-4"><a href="./../assets/ligthbox/img4.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img4.jpg" alt="carrera espana" width="640" height="853"></a></div>
            <a href="./../assets/ligthbox/img5.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img5.jpg" alt="carrera osl" width="640" height="991"></a>
            <a href="./../assets/ligthbox/img6.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img6.jpg" alt="carrera" width="640" height="427"></a>
            <div class="celda-7"><a href="./../assets/ligthbox/img7.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img7.jpg" alt="carrera ny" width="640" height="958"></a></div>
            <a href="./../assets/ligthbox/img8.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img8.jpg" alt="carerra argentina" width="640" height="480"></a>
             <div class="celda-9"><a href="./../assets/ligthbox/img9.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img9.jpg" alt="carrera Argentina" width="640" height="853"></a></div>
            <div class="celda-10"><a href="./../assets/ligthbox/img10.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img10.jpg" alt="carrera italia" width="640" height="427"></a></div>
            <div class="celda-11"><a href="./../assets/ligthbox/img11.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img11.jpg" alt="carrera francia" width="640" height="852"></a></div>
            <div class="celda-12"><a href="./../assets/ligthbox/img12.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img12.jpg" alt="carrera alemania" width="640" height="427"> </a></div>
            <div class="celda-13"><a href="./../assets/ligthbox/img13.jpg" data-lightbox="imagen" data-title="My caption"><img src="./../assets/ligthbox/img13.jpg" alt="carrera" width="640" height="960"></a></div>
        </div>


     

    </main>
    <footer>
        
           <div>
            <p>Todos los derechos reservados</p>

            <div class="redes">
                <a href="https://facebook.com"><img src="./../assets/iconos/facebook-svgrepo-com.svg" alt="facebook" width="150" height="150" ></a>
                <a href="https://instagram.com"><img src="./../assets/iconos/instagram-1-svgrepo-com.svg" alt="facebook" width="150" height="150" ></a>
                <a href="https://whatsapp.com"><img src="./../assets/iconos/whatsapp-whats-app-svgrepo-com.svg" alt="facebook" width="150" height="150" ></a>
                <a href="https://linkedin.com"><img src="./../assets/iconos/linkedin-linked-in-svgrepo-com.svg" alt="facebook" width="150" height="150" ></a>
            </div>

            <p>Domicilio legal Via Boston 102, CP 10137, Torino, Italia.</p>
        </div>


    </footer>
    <!--ligthbox-->
    <script src="./../js/lightbox-plus-jquery.js"></script>
    <!--script-->
    <script src="./js/script.js"></script>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>